/*
 * Globals
 */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #666;
  background-image: url("http://sp.ske48.co.jp/img/ameblo_bg.jpg");
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #fff;
  margin: 0;
}

/*
 * Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * header
 */
.header {
  margin-bottom: 20px;
}

/*
 * blogs-logo
 */
.blogs-logo {
  padding-left: 0px;
}
.blogs-logo-img {
  background-color: #fff9ed;
}
.blogs-logo-img img {
  height: 144px;
}

/*
 * blogs-header
 */
.blogs-header {
  background-color: #f8b500;
}
.blogs-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blogs-title a {
  color: #fff;
}
.blogs-title a:hover {
  text-decoration: none;
}
.blogs-title a:focus {
  text-decoration: none;
}
.blogs-description {
  font-size: 20px;
}
.blogs-description a {
  color: #666;
  font-weight: bold;
}

/*
 * blogs-sidebar
 */
.blogs-sidebar {
  padding-left: 0px;
}

/*
 * sidebar-module
 */
.sidebar-module-title {
  padding: 10px 0 10px 15px;
  background-color: #f8b500;
}
.sidebar-module-content {
  padding: 10px 15px;
  background-color: #fff9ed;
}
.sidebar-module-content h5 {
  color: #e57e16;
  font-size: 16px;
}
.sidebar-module-content a {
  color: #e57e16;
}
.sidebar-module-content a:hover {
  color: #f8b500;
}
.sidebar-module-content a:focus {
  text-decoration: none;
}

/*
 * blogs-main
 */
.blogs-main {
 background-color: #fff9ed;
 padding: 0px;
}
.blogs-main-header {
  background-color: #f8b500;
  padding: 10px 0 10px 15px;
}
.blogs-main-body {
  padding: 10px 30px 5px 30px;
}

/*
 * pageNav and postNav
 */
nav {
  padding: 0px 30px 5px 30px;
}
nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0px 0px 10px 0px;
  margin: 0;
}
nav ul li {
  display: inline;
  color: #e57e16;
  padding: 0 15px;
  border-right: solid 1px #e57e16;
}
nav ul li:last-child {
  border-right: none;
}
nav ul li a {
  color: #e57e16;
}
nav ul li a:hover {
  color: #f8b500;
}
nav ul li a:focus {
  color: #e57e16;
  text-decoration: none;
}

/*
 * Footer
 */
.footer {
  color: #fff;
  text-align: center;
  background-color: #f8b500;
  margin-top: 20px;
}
